.App {
  background-color: #000000;
  /* 정중앙 */
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.board {
  background-color: rgb(239, 234, 214);
  width: 320px;
  height: 500px;
  /* 정중앙 */
  position: relative;
  left: 50vw;
  top: 60vh;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}
